USE [db_student]
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT]    Script Date: 8/31/2021 7:02:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_INSERT]
@STU_ID int,
@NAME NVARCHAR(100),@ADDRESS NVARCHAR(100),@DOB DATETIME,@SEX NVARCHAR(10),@QUALIFICATIONS NVARCHAR(10)
AS
BEGIN TRY
	IF(@STU_ID=0)
		BEGIN
			INSERT INTO USER_TABLE1(NAME,ADDRESS,DOB,SEX,QUALIFICATIONS)VALUES(@NAME,@ADDRESS,convert(datetime,@DOB),@SEX,@QUALIFICATIONS)
			select CAST(SCOPE_IDENTITY() as int) as Id,CAST(@@ERROR as int) as Error 
		END
	ELSE
		BEGIN
			UPDATE USER_TABLE1 SET NAME=@NAME,ADDRESS=@ADDRESS,DOB=convert(datetime,@DOB),SEX=@SEX,QUALIFICATIONS=@QUALIFICATIONS WHERE STU_ID=@STU_ID
			select @STU_ID as Id,CAST(@@ERROR as int) as Error
		END
end try
begin catch
 select 0 as Id,CAST(@@ERROR as int) as Error 
end catch